In [1]:
%%capture
%load_ext sql
%sql sqlite:///chinook.db

In [2]:
%%sql 
SELECT 
    name,
    type 
FROM sqlite_master
WHERE type IN ("table", "view");

 * sqlite:///chinook.db
Done.

[('album', 'table'),
 ('artist', 'table'),
 ('customer', 'table'),
 ('employee', 'table'),
 ('genre', 'table'),
 ('invoice', 'table'),
 ('invoice_line', 'table'),
 ('media_type', 'table'),
 ('playlist', 'table'),
 ('playlist_track', 'table'),
 ('track', 'table')]

## Which artist that we need to boost the sales first?

In [3]:
%%sql 
SELECT *
FROM invoice_line
limit 5;

 * sqlite:///chinook.db
Done.

[(1, 1, 1158, 0.99, 1),
 (2, 1, 1159, 0.99, 1),
 (3, 1, 1160, 0.99, 1),
 (4, 1, 1161, 0.99, 1),
 (5, 1, 1162, 0.99, 1)]

In [4]:
%%sql
WITH 
    cty as 
        (
        SELECT invoice_id
        FROM invoice 
        WHERE billing_country = "USA"   
        ),
    track_cty as 
        (
        SELECT il.track_id, sum(il.quantity) q
        FROM cty
        INNER JOIN  invoice_line il ON cty.invoice_id = il.invoice_id
        GROUP BY 1
        ),
    genr AS 
        (
        SELECT tr.genre_id, sum(t.q) tracks
        FROM track tr
        INNER JOIN track_cty t ON t.track_id = tr.track_id
        GROUP BY 1) 
        
SELECT g.name genre, genr.tracks total_tracks, CAST(genr.tracks AS FLOAT)/ (SELECT SUM(tracks)FROM genr) perc
FROM genr
INNER JOIN genre g ON g.genre_id = genr.genre_id
ORDER BY 2 DESC
LIMIT 10;

 * sqlite:///chinook.db
Done.

[('Rock', 561, 0.5337773549000951),
 ('Alternative & Punk', 130, 0.12369172216936251),
 ('Metal', 124, 0.11798287345385347),
 ('R&B/Soul', 53, 0.05042816365366318),
 ('Blues', 36, 0.03425309229305423),
 ('Alternative', 35, 0.03330161750713606),
 ('Latin', 22, 0.02093244529019981),
 ('Pop', 22, 0.02093244529019981),
 ('Hip Hop/Rap', 20, 0.019029495718363463),
 ('Jazz', 14, 0.013320647002854425)]

According to this, the artist that we need to buy first are Red Tone - Punk, Slim Jim Bites-Blues, Meteor and the Girls - Pop. This is because the past historical sales for those genre speicifically in US are higher than hip hop

## EMPLOYEE SUPPORT PERFORMANCE

In [5]:
%%sql 
WITH 
    cst AS 
        ( 
        SELECT customer_id, SUM(total)sales
        from invoice
        GROUP BY 1),
    sprt_rep AS 
        (
        SELECT c.support_rep_id support_id, SUM(cst.sales) sales_performance
        FROM customer c
        INNER JOIN cst ON cst.customer_id = c.customer_id
        GROUP BY 1)
SELECT  
    e.first_name || " " || e.last_name employee_name, 
    e.hire_date,
    sp.sales_performance
FROM employee e
INNER JOIN sprt_rep sp ON sp.support_id = e.employee_id

 * sqlite:///chinook.db
Done.

[('Jane Peacock', '2017-04-01 00:00:00', 1731.5099999999998),
 ('Margaret Park', '2017-05-03 00:00:00', 1584.0000000000002),
 ('Steve Johnson', '2017-10-17 00:00:00', 1393.92)]

For the employee performance, Jane Peacock surely performing better than the others. 
However, looking at the hire_date, Jane Peacok was hired first before the others therefore, we still doesnt know which one is better, but steve, is actually better, this is because seeing from the latest hired person, he is almost catching up with Margaret Park.

## Total Purchases per Country

In [6]:
%%sql
    WITH 
        cty_performance AS 
            (
            SELECT 
                c.country cty, 
                COUNT(DISTINCT c.customer_id) num_cust,
                SUM(i.total) sales,
                SUM(i.total) / COUNT(DISTINCT c.customer_id) average_value,
                AVG(i.total) average_order      
            FROM customer c
            INNER JOIN Invoice i ON i.customer_id = c.customer_id
            GROUP BY 1
            ),
        categorical_country AS 
            ( 
            SELECT 
                CASE 
                    WHEN num_cust = 1 then "Others"
                    ELSE cty
                END AS country, 
                ROUND(SUM(num_cust),2) total_customer,
                ROUND(sum(sales),2) total_sales,
                ROUND(AVG(average_value),2) average_sales_value,
                ROUND(AVG(average_order),2) average_order_value
            FROM cty_performance
            GROUP BY 1 
            )
SELECT 
    country,
    total_customer,
    total_sales,
    average_order_value,
    average_sales_value
    
FROM 
    (SELECT 
         cc.*, 
         CASE
            WHEN cc.country = "Others" THEN 0
            ELSE 1
            END AS sort
     FROM categorical_country cc
    )
ORDER BY sort DESC, total_sales DESC;

 * sqlite:///chinook.db
Done.

[('USA', 13.0, 1040.49, 7.94, 80.04),
 ('Canada', 8.0, 535.59, 7.05, 66.95),
 ('Brazil', 5.0, 427.68, 7.01, 85.54),
 ('France', 5.0, 389.07, 7.78, 77.81),
 ('Germany', 4.0, 334.62, 8.16, 83.66),
 ('Czech Republic', 2.0, 273.24, 9.11, 136.62),
 ('United Kingdom', 3.0, 245.52, 8.77, 81.84),
 ('Portugal', 2.0, 185.13, 6.38, 92.57),
 ('India', 2.0, 183.15, 8.72, 91.58),
 ('Others', 15.0, 1094.94, 7.45, 73.0)]

It can be found that USA has the highest sales but the highest order value is in Czech republic

## DATA FOR THE PURCHASED ALBUM COMPARE WITH TRACKS

In [7]:
%%sql 

WITH 
    album_tracks AS 
        (
        SELECT a.album_id, t.track_id
        FROM track t
        INNER JOIN album a on a.album_id = t.album_id)
SELECT *
FROM album_tracks 
ORDER BY 1 ASC
LIMIT 20;

 * sqlite:///chinook.db
Done.

[(1, 1),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (1, 10),
 (1, 11),
 (1, 12),
 (1, 13),
 (1, 14),
 (2, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (4, 15),
 (4, 16),
 (4, 17),
 (4, 18),
 (4, 19),
 (4, 20)]

In [8]:
%%sql 

WITH 
    album_tracks AS 
        (
        SELECT a.album_id, t.track_id tracks
        FROM track t
        INNER JOIN album a on a.album_id = t.album_id
        ),
    invoice_tracks AS 
        (
        SELECT invoice_id, track_id tracks
        FROM invoice_line
        ),
    combi AS 
        (
        SELECT *
        FROM invoice_tracks it
        INNER JOIN album_tracks at ON at.tracks = it.tracks
        ),
    inv_id_per_count AS 
        (
        SELECT invoice_id, album_id, COUNT(tracks) tracks
        FROM combi
        GROUP BY 1,2
        ),
    num_of_tracks AS
        (
        SELECT album_id, count(tracks) album_tracks
        FROM album_tracks
        GROUP BY 1
        ),
    comparison AS
        (
        SELECT *
        FROM inv_id_per_count id
        INNER JOIN num_of_tracks nt ON nt.album_id = id.album_id
        ),
    album_purchase AS 
        (
        SELECT 
            invoice_id,
            CASE 
                WHEN tracks = album_tracks THEN 1
                ELSE 0
            END AS album_purchase
        FROM comparison 
        ),
    final_product AS 
        (
        SELECT 
        invoice_id,
        CASE 
             WHEN MIN(album_purchase) = 1 THEN "yes"
             ELSE "no" 
        END AS album_buyers
        FROM album_purchase
        GROUP BY 1
        )
SELECT 
    album_buyers, 
    COUNT(invoice_id) number_of_invoice, 
    COUNT(invoice_id) / CAST((SELECT COUNT(DISTINCT invoice_id) from inv_id_per_count) AS FLOAT) perc 
FROM final_product
GROUP BY 1;

 * sqlite:///chinook.db
Done.

[('no', 500, 0.8143322475570033), ('yes', 114, 0.18566775244299674)]

This can be concluded that the more of the people buy individual tracks instead of album, so that after considering the edges, it can be said that it is better to buy the most popular tracks instead of buying all album

In [9]:
%%sql

WITH invoice_first_track AS
    (
     SELECT
         il.invoice_id invoice_id,
         MIN(il.track_id) first_track_id
     FROM invoice_line il
     GROUP BY 1
    )

SELECT
    album_purchase,
    COUNT(invoice_id) number_of_invoices,
    CAST(count(invoice_id) AS FLOAT) / (
                                         SELECT COUNT(*) FROM invoice
                                      ) percent
FROM
    (
    SELECT
        ifs.*,
        CASE
            WHEN
                 (
                  SELECT t.track_id FROM track t
                  WHERE t.album_id = (
                                      SELECT t2.album_id FROM track t2
                                      WHERE t2.track_id = ifs.first_track_id
                                     ) 

                  EXCEPT 

                  SELECT il2.track_id FROM invoice_line il2
                  WHERE il2.invoice_id = ifs.invoice_id
                 ) IS NULL
             AND
                 (
                  SELECT il2.track_id FROM invoice_line il2
                  WHERE il2.invoice_id = ifs.invoice_id

                  EXCEPT 

                  SELECT t.track_id FROM track t
                  WHERE t.album_id = (
                                      SELECT t2.album_id FROM track t2
                                      WHERE t2.track_id = ifs.first_track_id
                                     ) 
                 ) IS NULL
             THEN "yes"
             ELSE "no"
         END AS "album_purchase"
     FROM invoice_first_track ifs
    )
GROUP BY album_purchase;

 * sqlite:///chinook.db
Done.

[('no', 614, 1.0)]

In [13]:
%%sql

WITH invoice_first_track AS
    (
     SELECT
         il.invoice_id invoice_id,
         MIN(il.track_id) first_track_id
     FROM invoice_line il
     GROUP BY 1
    )
SELECT 
    (SELECT il2.track_id FROM invoice_line il2
    WHERE il2.invoice_id = ifs.invoice_id)
FROM invoice_first_track ifs

 * sqlite:///chinook.db
Done.

[(1158,),
 (3476,),
 (2516,),
 (3448,),
 (1986,),
 (1045,),
 (3477,),
 (2231,),
 (206,),
 (2663,),
 (2597,),
 (1463,),
 (2553,),
 (541,),
 (3050,),
 (2160,),
 (2400,),
 (1027,),
 (105,),
 (905,),
 (1461,),
 (1000,),
 (1,),
 (1146,),
 (46,),
 (2670,),
 (3439,),
 (36,),
 (1025,),
 (919,),
 (2731,),
 (38,),
 (3307,),
 (610,),
 (2377,),
 (1582,),
 (3458,),
 (2960,),
 (2308,),
 (2382,),
 (153,),
 (2646,),
 (918,),
 (3052,),
 (1890,),
 (2639,),
 (3396,),
 (2210,),
 (2561,),
 (1905,),
 (2265,),
 (2664,),
 (1551,),
 (1773,),
 (1552,),
 (2254,),
 (2948,),
 (1029,),
 (449,),
 (479,),
 (2609,),
 (2989,),
 (444,),
 (38,),
 (1139,),
 (1435,),
 (2401,),
 (2575,),
 (85,),
 (2307,),
 (2254,),
 (30,),
 (2391,),
 (1743,),
 (22,),
 (1020,),
 (15,),
 (2592,),
 (1902,),
 (3400,),
 (1314,),
 (3291,),
 (1163,),
 (3455,),
 (2555,),
 (2291,),
 (1600,),
 (2679,),
 (1784,),
 (2554,),
 (1209,),
 (1414,),
 (1490,),
 (50,),
 (3299,),
 (1129,),
 (1784,),
 (1995,),
 (2591,),
 (996,),
 (3356,),
 (3472,),
 (2234,),
 (3097,),
 (751,),
 (2,),
 (1179,),
 (102,),
 (486,),
 (444,),
 (3484,),
 (1479,),
 (2762,),
 (1479,),
 (298,),
 (571,),
 (4,),
 (3111,),
 (1556,),
 (17,),
 (2656,),
 (2014,),
 (2003,),
 (3100,),
 (45,),
 (2157,),
 (3135,),
 (3283,),
 (2351,),
 (2660,),
 (1754,),
 (2234,),
 (3050,),
 (3380,),
 (2959,),
 (2241,),
 (3336,),
 (2271,),
 (1814,),
 (1002,),
 (2621,),
 (23,),
 (915,),
 (2590,),
 (2378,),
 (1466,),
 (56,),
 (1637,),
 (1026,),
 (1181,),
 (3468,),
 (2731,),
 (2406,),
 (2684,),
 (436,),
 (1882,),
 (3336,),
 (3108,),
 (2450,),
 (1052,),
 (1415,),
 (2207,),
 (2556,),
 (3116,),
 (76,),
 (2662,),
 (1614,),
 (592,),
 (2291,),
 (3373,),
 (1466,),
 (1619,),
 (2285,),
 (3002,),
 (1755,),
 (3336,),
 (1039,),
 (1102,),
 (3104,),
 (1802,),
 (1565,),
 (937,),
 (1033,),
 (3409,),
 (1778,),
 (826,),
 (1466,),
 (1455,),
 (2191,),
 (2559,),
 (1483,),
 (2645,),
 (2548,),
 (1476,),
 (2179,),
 (1325,),
 (3289,),
 (2159,),
 (2008,),
 (15,),
 (3288,),
 (1747,),
 (20,),
 (1027,),
 (1829,),
 (2745,),
 (2201,),
 (2690,),
 (1495,),
 (3376,),
 (39,),
 (1121,),
 (2271,),
 (620,),
 (1464,),
 (1547,),
 (2554,),
 (3336,),
 (3067,),
 (1745,),
 (2561,),
 (1029,),
 (2621,),
 (2433,),
 (1711,),
 (2150,),
 (837,),
 (1212,),
 (2655,),
 (15,),
 (1204,),
 (3090,),
 (9,),
 (2562,),
 (3287,),
 (164,),
 (2375,),
 (2271,),
 (2254,),
 (1896,),
 (2368,),
 (3033,),
 (510,),
 (2231,),
 (1015,),
 (77,),
 (2639,),
 (2277,),
 (1470,),
 (1428,),
 (3286,),
 (413,),
 (1121,),
 (1445,),
 (529,),
 (2563,),
 (2285,),
 (1990,),
 (44,),
 (1175,),
 (58,),
 (77,),
 (151,),
 (1187,),
 (2676,),
 (1984,),
 (1997,),
 (2601,),
 (3144,),
 (602,),
 (2271,),
 (3336,),
 (1479,),
 (1763,),
 (3336,),
 (3300,),
 (2653,),
 (2608,),
 (1759,),
 (3081,),
 (1902,),
 (891,),
 (1481,),
 (194,),
 (134,),
 (1748,),
 (2004,),
 (1849,),
 (2231,),
 (1046,),
 (3111,),
 (3470,),
 (3368,),
 (1853,),
 (1491,),
 (1466,),
 (2647,),
 (692,),
 (2106,),
 (51,),
 (5,),
 (229,),
 (2648,),
 (1386,),
 (2178,),
 (49,),
 (3469,),
 (2964,),
 (1782,),
 (2735,),
 (1170,),
 (1937,),
 (1776,),
 (580,),
 (1696,),
 (1050,),
 (3288,),
 (26,),
 (2640,),
 (3319,),
 (2607,),
 (33,),
 (3031,),
 (31,),
 (2600,),
 (135,),
 (496,),
 (2555,),
 (3299,),
 (1133,),
 (2292,),
 (1422,),
 (1988,),
 (1942,),
 (2391,),
 (2358,),
 (2682,),
 (1523,),
 (696,),
 (1051,),
 (1520,),
 (2507,),
 (2647,),
 (1479,),
 (1010,),
 (2599,),
 (16,),
 (2563,),
 (1712,),
 (1017,),
 (83,),
 (2433,),
 (687,),
 (2641,),
 (2645,),
 (51,),
 (2936,),
 (2663,),
 (2663,),
 (3359,),
 (2308,),
 (695,),
 (857,),
 (3268,),
 (3437,),
 (479,),
 (1797,),
 (952,),
 (3409,),
 (3266,),
 (2410,),
 (529,),
 (3365,),
 (1837,),
 (1268,),
 (3106,),
 (49,),
 (1056,),
 (2542,),
 (1425,),
 (1133,),
 (1008,),
 (2647,),
 (2652,),
 (908,),
 (45,),
 (3376,),
 (999,),
 (3064,),
 (1988,),
 (80,),
 (1853,),
 (1703,),
 (2736,),
 (3336,),
 (2679,),
 (1485,),
 (2506,),
 (1146,),
 (40,),
 (1704,),
 (2692,),
 (3101,),
 (1174,),
 (542,),
 (1460,),
 (2204,),
 (1220,),
 (2639,),
 (546,),
 (6,),
 (2748,),
 (2690,),
 (1,),
 (3424,),
 (1048,),
 (1774,),
 (2755,),
 (33,),
 (999,),
 (3410,),
 (1698,),
 (1479,),
 (1495,),
 (1483,),
 (2558,),
 (23,),
 (2687,),
 (828,),
 (1788,),
 (3256,),
 (1469,),
 (27,),
 (1996,),
 (3460,),
 (1692,),
 (301,),
 (1145,),
 (2515,),
 (88,),
 (2743,),
 (572,),
 (2004,),
 (2229,),
 (2220,),
 (1,),
 (2285,),
 (2152,),
 (1479,),
 (3009,),
 (3044,),
 (921,),
 (3461,),
 (1986,),
 (2740,),
 (711,),
 (1562,),
 (3473,),
 (226,),
 (78,),
 (2666,),
 (2645,),
 (38,),
 (3003,),
 (149,),
 (428,),
 (3424,),
 (2149,),
 (2232,),
 (2303,),
 (2368,),
 (697,),
 (3115,),
 (479,),
 (1162,),
 (39,),
 (3051,),
 (1479,),
 (419,),
 (2659,),
 (1164,),
 (2648,),
 (21,),
 (1424,),
 (1434,),
 (3104,),
 (3089,),
 (1902,),
 (1865,),
 (1994,),
 (2558,),
 (2555,),
 (3081,),
 (3288,),
 (1019,),
 (1,),
 (2553,),
 (2297,),
 (1009,),
 (2662,),
 (1466,),
 (2741,),
 (409,),
 (2467,),
 (3424,),
 (1479,),
 (82,),
 (152,),
 (204,),
 (2285,),
 (149,),
 (807,),
 (2546,),
 (3103,),
 (2731,),
 (2735,),
 (2573,),
 (3465,),
 (1800,),
 (3308,),
 (3000,),
 (3048,),
 (3355,),
 (2690,),
 (2683,),
 (436,),
 (482,),
 (1479,),
 (3375,),
 (2231,),
 (2650,),
 (63,),
 (2165,),
 (1815,),
 (1033,),
 (2733,),
 (1853,),
 (2302,),
 (3284,),
 (3467,),
 (48,),
 (1121,),
 (3253,),
 (1955,),
 (2118,),
 (684,),
 (2007,),
 (2097,),
 (2554,),
 (1122,),
 (1121,),
 (2265,),
 (2749,),
 (619,),
 (1415,),
 (2461,),
 (2561,),
 (697,),
 (2976,),
 (2414,),
 (1036,),
 (2205,),
 (1617,),
 (1129,),
 (21,),
 (2657,),
 (481,),
 (2086,),
 (6,),
 (1820,),
 (2952,),
 (2169,),
 (2407,),
 (2391,),
 (2352,),
 (9,),
 (604,),
 (2664,),
 (1135,),
 (535,),
 (3375,),
 (891,),
 (3467,),
 (2962,),
 (1839,),
 (1997,),
 (2734,),
 (18,),
 (2271,),
 (1362,),
 (2591,),
 (1937,),
 (2933,),
 (476,),
 (2507,),
 (1108,),
 (2736,),
 (2560,),
 (1440,),
 (2108,),
 (14,),
 (2188,),
 (1036,),
 (1755,),
 (2257,),
 (2003,),
 (2645,),
 (3060,),
 (2603,),
 (1053,),
 (2663,),
 (2204,),
 (1865,),
 (2650,)]

In [14]:
%%sql
SELECT track_id from invoice_line
LIMIT 700;

 * sqlite:///chinook.db
Done.

[(1,),
 (1,),
 (1,),
 (1,),
 (1,),
 (1,),
 (1,),
 (1,),
 (2,),
 (2,),
 (2,),
 (3,),
 (4,),
 (4,),
 (4,),
 (4,),
 (5,),
 (6,),
 (6,),
 (6,),
 (6,),
 (6,),
 (6,),
 (6,),
 (6,),
 (6,),
 (6,),
 (6,),
 (6,),
 (6,),
 (7,),
 (7,),
 (7,),
 (7,),
 (8,),
 (8,),
 (8,),
 (8,),
 (8,),
 (8,),
 (9,),
 (9,),
 (9,),
 (9,),
 (9,),
 (9,),
 (9,),
 (9,),
 (9,),
 (10,),
 (10,),
 (10,),
 (10,),
 (10,),
 (10,),
 (11,),
 (11,),
 (11,),
 (11,),
 (11,),
 (12,),
 (12,),
 (12,),
 (12,),
 (12,),
 (12,),
 (12,),
 (13,),
 (13,),
 (13,),
 (13,),
 (13,),
 (13,),
 (13,),
 (13,),
 (13,),
 (13,),
 (14,),
 (14,),
 (14,),
 (14,),
 (14,),
 (14,),
 (15,),
 (15,),
 (15,),
 (15,),
 (16,),
 (16,),
 (16,),
 (16,),
 (16,),
 (16,),
 (16,),
 (16,),
 (17,),
 (17,),
 (17,),
 (17,),
 (17,),
 (18,),
 (18,),
 (18,),
 (18,),
 (18,),
 (18,),
 (18,),
 (19,),
 (19,),
 (19,),
 (19,),
 (19,),
 (19,),
 (20,),
 (20,),
 (20,),
 (20,),
 (20,),
 (20,),
 (20,),
 (21,),
 (21,),
 (21,),
 (21,),
 (21,),
 (21,),
 (21,),
 (22,),
 (22,),
 (22,),
 (22,),
 (22,),
 (22,),
 (23,),
 (23,),
 (23,),
 (23,),
 (23,),
 (23,),
 (24,),
 (24,),
 (24,),
 (24,),
 (24,),
 (24,),
 (25,),
 (25,),
 (26,),
 (26,),
 (26,),
 (26,),
 (26,),
 (26,),
 (27,),
 (27,),
 (27,),
 (27,),
 (27,),
 (27,),
 (28,),
 (28,),
 (28,),
 (28,),
 (29,),
 (29,),
 (29,),
 (29,),
 (29,),
 (30,),
 (30,),
 (30,),
 (30,),
 (30,),
 (30,),
 (31,),
 (31,),
 (31,),
 (31,),
 (32,),
 (32,),
 (32,),
 (32,),
 (32,),
 (32,),
 (32,),
 (32,),
 (33,),
 (33,),
 (33,),
 (33,),
 (33,),
 (33,),
 (33,),
 (34,),
 (34,),
 (34,),
 (34,),
 (35,),
 (35,),
 (35,),
 (35,),
 (35,),
 (35,),
 (36,),
 (36,),
 (36,),
 (36,),
 (36,),
 (36,),
 (36,),
 (37,),
 (37,),
 (37,),
 (38,),
 (38,),
 (38,),
 (38,),
 (38,),
 (38,),
 (39,),
 (39,),
 (39,),
 (39,),
 (39,),
 (39,),
 (39,),
 (40,),
 (40,),
 (40,),
 (40,),
 (40,),
 (40,),
 (41,),
 (41,),
 (41,),
 (41,),
 (42,),
 (42,),
 (42,),
 (42,),
 (42,),
 (42,),
 (43,),
 (43,),
 (43,),
 (43,),
 (43,),
 (43,),
 (44,),
 (44,),
 (44,),
 (44,),
 (44,),
 (44,),
 (45,),
 (45,),
 (45,),
 (45,),
 (45,),
 (46,),
 (46,),
 (46,),
 (46,),
 (46,),
 (46,),
 (46,),
 (46,),
 (46,),
 (47,),
 (47,),
 (47,),
 (47,),
 (47,),
 (48,),
 (48,),
 (48,),
 (48,),
 (48,),
 (49,),
 (49,),
 (49,),
 (49,),
 (49,),
 (49,),
 (50,),
 (50,),
 (50,),
 (50,),
 (51,),
 (51,),
 (51,),
 (51,),
 (51,),
 (52,),
 (52,),
 (52,),
 (52,),
 (53,),
 (53,),
 (53,),
 (53,),
 (54,),
 (54,),
 (54,),
 (54,),
 (54,),
 (54,),
 (55,),
 (55,),
 (55,),
 (55,),
 (56,),
 (56,),
 (56,),
 (57,),
 (57,),
 (57,),
 (57,),
 (58,),
 (58,),
 (58,),
 (58,),
 (58,),
 (58,),
 (58,),
 (58,),
 (59,),
 (59,),
 (59,),
 (60,),
 (60,),
 (60,),
 (60,),
 (60,),
 (60,),
 (61,),
 (61,),
 (61,),
 (61,),
 (61,),
 (61,),
 (61,),
 (62,),
 (62,),
 (62,),
 (62,),
 (62,),
 (63,),
 (64,),
 (65,),
 (66,),
 (66,),
 (66,),
 (67,),
 (68,),
 (69,),
 (70,),
 (71,),
 (72,),
 (73,),
 (73,),
 (74,),
 (75,),
 (76,),
 (76,),
 (77,),
 (77,),
 (77,),
 (77,),
 (77,),
 (78,),
 (78,),
 (78,),
 (79,),
 (79,),
 (79,),
 (79,),
 (80,),
 (80,),
 (80,),
 (80,),
 (80,),
 (80,),
 (80,),
 (81,),
 (81,),
 (81,),
 (81,),
 (81,),
 (82,),
 (82,),
 (82,),
 (82,),
 (82,),
 (83,),
 (83,),
 (83,),
 (83,),
 (83,),
 (84,),
 (84,),
 (84,),
 (85,),
 (85,),
 (85,),
 (85,),
 (86,),
 (86,),
 (87,),
 (88,),
 (88,),
 (89,),
 (89,),
 (90,),
 (91,),
 (91,),
 (92,),
 (92,),
 (93,),
 (93,),
 (93,),
 (93,),
 (93,),
 (94,),
 (94,),
 (94,),
 (94,),
 (94,),
 (94,),
 (95,),
 (95,),
 (96,),
 (97,),
 (97,),
 (98,),
 (100,),
 (102,),
 (102,),
 (102,),
 (103,),
 (105,),
 (108,),
 (109,),
 (110,),
 (110,),
 (126,),
 (128,),
 (130,),
 (130,),
 (131,),
 (132,),
 (134,),
 (134,),
 (135,),
 (137,),
 (138,),
 (139,),
 (139,),
 (140,),
 (142,),
 (146,),
 (146,),
 (147,),
 (147,),
 (149,),
 (149,),
 (150,),
 (150,),
 (150,),
 (150,),
 (151,),
 (151,),
 (151,),
 (151,),
 (151,),
 (151,),
 (151,),
 (151,),
 (151,),
 (152,),
 (152,),
 (152,),
 (152,),
 (152,),
 (153,),
 (153,),
 (153,),
 (153,),
 (153,),
 (153,),
 (153,),
 (153,),
 (154,),
 (154,),
 (154,),
 (154,),
 (154,),
 (154,),
 (154,),
 (155,),
 (155,),
 (155,),
 (155,),
 (156,),
 (157,),
 (157,),
 (157,),
 (157,),
 (158,),
 (158,),
 (158,),
 (158,),
 (158,),
 (158,),
 (158,),
 (160,),
 (160,),
 (160,),
 (161,),
 (161,),
 (162,),
 (162,),
 (162,),
 (163,),
 (163,),
 (163,),
 (164,),
 (164,),
 (164,),
 (165,),
 (165,),
 (165,),
 (172,),
 (172,),
 (183,),
 (184,),
 (186,),
 (188,),
 (194,),
 (195,),
 (195,),
 (195,),
 (196,),
 (196,),
 (197,),
 (197,),
 (198,),
 (198,),
 (198,),
 (199,),
 (199,),
 (200,),
 (201,),
 (201,),
 (201,),
 (202,),
 (202,),
 (203,),
 (204,),
 (204,),
 (204,),
 (206,),
 (207,),
 (207,),
 (207,),
 (208,),
 (212,),
 (219,),
 (222,),
 (224,),
 (225,),
 (226,),
 (226,),
 (227,),
 (228,),
 (229,),
 (233,),
 (237,),
 (261,),
 (268,),
 (298,),
 (301,),
 (337,),
 (337,),
 (340,),
 (341,),
 (342,),
 (344,),
 (346,),
 (348,),
 (349,),
 (350,),
 (383,),
 (392,),
 (402,),
 (409,),
 (410,),
 (411,),
 (411,),
 (413,),
 (415,),
 (415,),
 (419,),
 (419,),
 (419,),
 (419,),
 (420,),
 (421,),
 (421,),
 (421,),
 (421,),
 (421,),
 (421,),
 (422,),
 (422,),
 (422,),
 (422,),
 (423,),
 (423,),
 (423,),
 (424,),
 (424,),
 (425,),
 (425,),
 (426,),
 (426,),
 (426,),
 (426,),
 (426,),
 (427,),
 (427,),
 (427,),
 (427,),
 (428,),
 (428,),
 (428,),
 (429,),
 (430,),
 (430,),
 (431,),
 (431,),
 (432,),
 (432,),
 (433,),
 (433,),
 (433,),
 (434,),
 (434,),
 (435,),
 (435,),
 (436,),
 (436,),
 (437,),
 (437,),
 (438,),
 (438,),
 (439,),
 (439,),
 (440,),
 (441,),
 (441,),
 (442,),
 (442,),
 (443,),
 (444,),
 (444,),
 (444,),
 (444,),
 (445,),
 (445,),
 (446,),
 (446,),
 (447,),
 (448,),
 (449,),
 (449,),
 (449,),
 (449,),
 (450,),
 (451,),
 (452,),
 (452,),
 (453,),
 (453,),
 (454,),
 (454,),
 (455,),
 (459,),
 (459,),
 (459,),
 (461,),
 (465,),
 (468,),
 (468,),
 (469,),
 (469,),
 (469,),
 (470,),
 (470,),
 (470,)]